@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-bg: #000000;
  --gray: #686868;
  --red: #d22f26;
  --white: #fff;
}

body {
  margin: 0;
  font-family: "Headland One", serif;
  max-height: 1229px;
}
main {
  background-color: var(--black-bg);
  width: 60%;
  margin: 0 auto;
  height: 100%;
}
.viewMain {
  background-image: url("../../Images/matrix.png");
  width: 100%;
  margin: 0;
  height: 849px;
}
.header {
  width: 100%;
  margin: 0;
  background: linear-gradient(180deg, #191919 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(180deg, var(--black-bg) 0%, rgba(0, 0, 0, 0) 101.98%);
}
.logo {
  width: 55.84px;
  height: 24px;
}
.options {
  gap: 48px;
  color: var(--white);
  font-size: 14px;
  margin-top: 24px;
}
.infoMatrix > img {
  margin-bottom: 12px;
}
.genreMovie{
  color: var(--white);
  font-size: 16.2px;
  line-height: 15.3px;
  margin-bottom: 12px;
  gap: 16px;
}
.genreMovie > p {
  margin: 0 4px;
}
.logos {
  gap: 48px;
  margin-bottom: 36px;
  margin-top: 12px;
}
.logos > img{
  height: 48px;
}
.infoMovies{
  width: 100%;
  margin: 48px 0 0 0;
}
.textCategories{
  margin: 16px 0 12px 0;
  font-size: 23.91px;
}
.movieItem{
  height: 190px;
}
footer{
  margin: 0;
}
footer > img {
  width: 100%;
}
.contInfo{
  gap: 16px;
}
p{
  font-weight: bold;
}
.popular, .anime, .crimen{
  margin: 20px;
  margin-left: 28px;
}